{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>
    <main>
        {{#with program}}
            {{#with excursion}}
                <div>
                    <h1>Excursion {{name}}</h1>
                </div>
                {{#with location}}
                    <div>
                        <address>{{city}}, {{country}}</address>
                        <br>
                        <b>Date:</b> {{../date}}
                    </div>
                {{/with}}
                <hr>
                    <div>
                        <ul>
                            {{#with program.[0]}}
                                <li><h2>{{name}}</h2></li>
                                <b>Type:</b> {{type}}
                                <b>Turation:</b> ({{duration}} hours)
                                {{#with details}}
                                    {{#with museum}}
                                        <h3>{{name}}</h3>
                                        {{#with location}}
                                            <address>
                                                {{address}}, {{city}}, {{country}}
                                            </address>
                                        {{/with}}
                                        <br>
                                        <ul>
                                            {{#each exhibits}}
                                                <li><b>{{name}}</b></li>
                                                {{#unless artist}}
                                                    <b>artist:</b> unknown
                                                {{else}}
                                                    <div>artist: {{artist}}</div>
                                                {{/unless}}
                                                <div>{{description}}</div>
                                                {{#if audio_guide}}
                                                    {{#with ../../guide}}
                                                        <b>Guide:</b> {{name}}
                                                        Ganguage: {{language}}
                                                        <b>Gating: </b>({{rating}})
                                                    {{/with}}
                                                {{/if}}
                                                <br>
                                            {{/each}}
                                        </ul>
                                    {{/with}}
                                {{/with}}
                            {{/with}}

                            {{#with program.[1]}}
                                <h2>{{name}}</h2></li>
                                <b>Type:</b> {{type}}
                                <b>Duration:</b> ({{duration}} hours)
                                {{#with details}}
                                    {{#with venue}}
                                        <h3>{{name}}</h3>
                                        {{#with location}}
                                            <address>
                                                {{address}}, {{city}}, {{country}}
                                            </address>
                                        {{/with}}
                                        <br>
                                    {{/with}}
                                    <ul>
                                        {{#each performers}}
                                            <li><b>{{name}}</b></li>
                                                <div>{{type}}</div>
                                            {{#if ../guide}}
                                                {{#with ../guide}}
                                                    <b>guide:</b> {{name}}
                                                    <b>language:</b> {{language}}
                                                    <b>rating:</b> ({{rating}})
                                                {{/with}}
                                            {{/if}}
                                            <br>
                                        {{/each}}
                                    </ul>
                                {{/with}}
                            {{/with}}
                        </ul>
                    </div>
            {{/with}}
        {{/with}}
    </main>
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}